@tailwind base;
@tailwind components;
@tailwind utilities;
button.add{
    background-color: #40c0f0;
    width: 1.5rem;
}
button.remove{
    background-color: #f04040;
    width: 1.5rem;
}
button.badge{
    background-color: #f04040;
    border: none;
    color: #ffffff;
    width: 1.5rem;
}
